{% extends 'baseAdmin.html.twig' %}

{% block title %}PromoCode index{% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Liste des promos code <a href="{{ path('app_admin_promo_code_new') }}"><button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                    <i class="fa fa-plus"></i>
                                </button></a></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow: hidden !important;">
                            <table class="table dynamicTable  table-striped table-bordered">
                                <thead class="text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Coupon
                                </th>
                                <th>
                                    Date d'expiration
                                </th>
                                <th>
                                    Valeur en %
                                </th>
                                <th>
                                    Expiré ?
                                </th>
                                <th class="text-right">
                                    Options
                                </th>
                                </thead>
                                <tbody>
                                {% for promo_code in promo_codes %}
                                    <tr>
                                        <td>
                                            #{{ promo_code.id }}
                                        </td>
                                        <td>
                                            {{ promo_code.coupon }}
                                        </td>
                                        <td>
                                            {{ promo_code.expirationDate }}
                                        </td>
                                        <td>
                                            {{ promo_code.amount }}
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Oui</span>
                                        </td>
                                        <td class="text-right">
                                            <a href="{{ path('app_admin_promo_code_edit', {'id': promo_code.id}) }}"><button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                                    <i class="fa fa-pencil"></i>
                                                </button></a>

                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
