{% extends 'base.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
    <h1>Faq</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faq.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ faq.response }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_faq_index') }}">back to list</a>

    <a href="{{ path('app_admin_faq_edit', {'id': faq.id}) }}">edit</a>

    {{ include('admin_faq/_delete_form.html.twig') }}
{% endblock %}
