{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-user text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Clients</p>
                                    <p class="card-title">{{ clients|length }}<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-shopping-bag text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Oeuvres</p>
                                    <p class="card-title">{{ produits|length }}<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-shopping-cart text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Commandes</p>
                                    <p class="card-title">{{ purchases|length }}<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-pencil text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Avis</p>
                                    <p class="card-title">{{ reviews|length }}<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-36 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 style="color:#EF857D; font-weight: bold">Derniers Clients ({{ clients|length }})</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 500px;overflow:auto;">
                        <table class="table table-striped table-bordered">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Nom & Prenom
                            </th>
                            <th>
                                Adresse
                            </th>
                            <th>
                                Date d'inscription
                            </th>
                            <th>
                                Verifié ?
                            </th>
                            <th class="text-right">
                                Options
                            </th>
                            </thead>
                            <tbody>
                            {% for user in clients %}
                                <tr>
                                    <td>
                                        #{{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.name }} {{ user.surname }}
                                    </td>
                                    <td>
                                        {{ user.adresse }} {{ user.zipcode }} {{ user.city }} {{ user.country }}
                                    </td>
                                    <td>
                                        {{ user.dateCreation }}
                                    </td>
                                    <td>
                                        {{ user.isVerified ? '<span class="badge  badge-success">Oui</span>' : '<span class="badge  badge-danger">Non</span>' }}
                                    </td>
                                    <td class="text-right">
                                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}"> <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                                <i class="fa fa-eye"></i>
                                            </button></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-36 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 style="color:#EF857D; font-weight: bold">Derniers Tableaux ({{ produits|length }})</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 500px;overflow:auto;">
                        <table class="table   table-striped table-bordered" style="">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Titre
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Prix
                            </th>
                            <th>
                                Sku
                            </th>
                            <th>
                                Remise
                            </th>
                            <th>
                                Active ?
                            </th>
                            <th class="text-right">
                                Options
                            </th>
                            </thead>
                            <tbody>
                            {% for product in produits %}
                                <tr>
                                    <td>#{{ product.id }}</td>
                                    <td><img src="{{ asset('uploads/'~product.image) }}" style="height: 50px"></td>
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.status ? "<span class='badge badge-success'>Oui</span>" : "<span class='badge badge-danger'>Non</span>"}}</td>
                                    <td>{{ product.price }} €</td>
                                    <td>{{ product.sku }}</td>
                                    <td>{{ product.discount }} %</td>

                                    <td>{{ product.enabled ? "<span class='badge badge-success'>Oui</span>" : "<span class='badge badge-danger'>Non</span>"}}</td>
                                    <td class="text-right">
                                        <a href="{{ path('app_admin_product_show', {'id': product.id}) }}">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                                <i class="fa fa-eye"></i>
                                            </button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-36 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 style="color:#EF857D; font-weight: bold">Dernieres Commandes ({{ purchases|length }})</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 500px;overflow:auto;">
                        <table class="table  table-striped table-bordered">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th style="width: 100px">
                                Numero de commande
                            </th>
                            <th>
                                Client
                            </th>
                            <th>
                                Total
                            </th>
                            <th style="width: 100px">
                                Date de commande
                            </th>
                            <th style="width: 100px">
                                Paiement
                            </th>
                            <th style="width: 100px">
                                Status
                            </th>
                            <th class="text-right">
                                Option
                            </th>
                            </thead>
                            <tbody>
                            {% for purchase in purchases %}
                                <tr>
                                    <td style="{% if purchase.isConsulted == 0 %} background: #F8796C {% else %} background:#B4DFC0 {% endif %}">
                                        #{{ purchase.id }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_admin_purchases_show', {'id': purchase.id}) }}" target="_blank" style="color:#2BA3E1;"> {{ purchase.tokenPurchase }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_admin_user_show', {'id': purchase.user.id}) }}" target="_blank" style="color:#2BA3E1;"> {{ purchase.user.name }} {{ purchase.user.surname }}</a>
                                    </td>
                                    <td>
                                        {{ purchase.total }} €
                                    </td>
                                    <td>
                                        {{ purchase.datePurchase }}
                                    </td>
                                    <td>
                                        {{ purchase.paiementStatus }}
                                    </td>
                                    <td>
                                        {{ purchase.status }}
                                    </td>
                                    <td class="text-right">
                                        <a href="{{ path('app_admin_purchases_show', {'id': purchase.id}) }}"><button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                                <i class="fa fa-eye"></i>
                                            </button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-36 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 style="color:#EF857D; font-weight: bold">Derniers Avis ({{ reviews|length }})</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive " style="max-height: 500px;overflow:auto;">
                        <table class="table  table-bordered table-striped" >
                            <thead class=" text-primary">
                            <th>
                                id
                            </th>
                            <th style="width: 600px">
                                Texte
                            </th>
                            <th>
                                Etoiles
                            </th>
                            <th>
                                Produit
                            </th>
                            <th>
                                Client
                            </th>
                            <th>
                                Publié ?
                            </th>
                            <th>
                                Date de publication
                            </th>
                            <th class="text-right">
                                Options
                            </th>
                            </thead>
                            <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td>
                                        #{{ review.id }}
                                    </td>
                                    <td>
                                        {{ review.texte }}
                                    </td>
                                    <td>
                                        {{ review.stars }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_admin_product_show', {'id': review.product.id}) }}" target="_blank"> <img src="{{ asset('uploads/'~review.product.image) }}" style="height: 50px"></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_admin_user_show', {'id': review.user.id}) }}" target="_blank" style="color:#2BA3E1;"> {{ review.user.name }} {{ review.user.surname }}</a>
                                    </td>
                                    <td>
                                        {{ review.status ? '<span class="badge  badge-success">Oui</span>' : '<span class="badge  badge-danger">Non</span>' }}
                                    </td>
                                    <td>
                                        {{ review.dateReview }}
                                    </td>
                                    <td class="text-right">
                                        <a href="{{ path('app_admin_review_edit', {'id': review.id}) }}"><button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                                <i class="fa fa-pencil"></i>
                                            </button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}